[data-theme="jewel"] {
  --color-base-100:     #0d0b20;
  --color-base-200:     #090716;
  --color-base-300:     #13162c;
  --color-base-content: #c8dcf8;
  --color-primary:      #5fc9de;
  --color-neutral:      #5868a0;
  --color-neutral-content: #5868a0;
  --color-success:      #51cf66;
  --color-info:         #5fc9de;
  --color-error:        #ff6b6b;
  color-scheme: dark;
}
