[data-theme="plum"] {
  --color-base-100:     #130918;
  --color-base-200:     #0d0510;
  --color-base-300:     #190f22;
  --color-base-content: #f0d8ff;
  --color-primary:      #bb60e0;
  --color-neutral:      #786090;
  --color-neutral-content: #7050a0;
  --color-success:      #51cf66;
  --color-info:         #4dabf7;
  --color-error:        #ff6b6b;
  color-scheme: dark;
}
