[data-theme="plum"][data-mode="dark"] {
  --color-base-100:     #130918;
  --color-base-200:     #0d0510;
  --color-base-300:     #190f22;
  --color-base-content: #f0d8ff;
  --color-primary:      #bb60e0;
  --color-neutral:      #786090;
  --color-neutral-content: #7050a0;
  --color-success:      #51cf66;
  --color-info:         #4dabf7;
  --color-error:        #ff6b6b;
  --border-color:             #3d1e50;
  --hover-bg:           rgba(255,255,255,.03);
  --card-shadow: 0 0 8px 5px var(--border-color);
  --hard:               #e05c5c;
  --epic:               #bb60e0;
  --common:             #4dabf7;
  --radius:             8px;
  color-scheme: dark;
}

[data-theme="plum"][data-mode="light"] {
  --color-base-100:     #fcf4ff;
  --color-base-200:     #f0e0ff;
  --color-base-300:     #f0e0ff;
  --color-base-content: #200830;
  --color-primary:      #7626bd;
  --color-neutral:      #868e96;
  --color-neutral-content: #7050a0;
  --color-success:      #2f9e44;
  --color-info:         #1971c2;
  --color-error:        #c92a2a;
  --border-color:             #ddc0f0;
  --hover-bg:           rgba(0,0,0,.04);
  --card-shadow: 0 0 8px 5px var(--border-color);
  --hard:               #c92a2a;
  --epic:               #7626bd;
  --common:             #1971c2;
  --radius:             8px;
  color-scheme: light;
}
