[data-theme="synthwave"] {
  --color-base-100: oklch(26% 0.051 172.552);
  --color-base-200: oklch(37% 0.077 168.94);
  --color-base-300: oklch(43% 0.095 166.913);
  --color-base-content: oklch(95% 0.052 163.051);
  --color-primary: oklch(84% 0.143 164.978);
  --color-primary-content: oklch(26% 0.051 172.552);
  --color-secondary: oklch(86% 0.127 207.078);
  --color-secondary-content: oklch(30% 0.056 229.695);
  --color-accent: oklch(87% 0.169 91.605);
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: oklch(59% 0.145 163.225);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);

  --hover-bg: rgba(255,255,255,.04);
  --radius:       4px;
  color-scheme:   dark;
}
