PREFIX=!
DISCORD_TOKEN=your-bot-token-here
APPLICATION_ID=your-application-id
GUILD_ID=your-test-guild-id
MONGODB_URI=mongodb://localhost:27017/discordbotafkj
BIRTHDAY_CHANNEL_ID=your-channel-id-for-birthday-announcements
GENERAL_CHANNEL_ID=your-general-channel-id
DEV_REGISTER=false